* {
	margin:0;
	padding:0;
}

.container {
    max-width:1400px;
}

@media (min-width:1200px) {
	.container {
		width:100%;
	}
}

/* Header
 */
div.header {
	color:#ffffff;
	background-color:#000000;
	height:70px;
	margin-bottom:15px;
}

div.header h1 {
	margin-top:15px;
}

div.header img.logo {
	height:80px;
	float:right;
	position:relative;
	top:-70px;
	margin-bottom:-70px;
}

/* Locations
 */
@media (max-width:991px) {
	form.locations {
		margin-bottom:15px;
	}
}
@media (min-width:992px) {
	form.locations {
		width:200px;
		float:right;
	}
}

/* Path
 */
@media (max-width:991px) {
	h2 {
		display:none;
	}
}
@media (min-width:992px) {
	ul.path {
		display:none;
	}
}
ul.path li {
	display:inline;
	margin-left:15px;
}
ul.path li:before {
	content:">";
	margin-right:15px;
}

/* Structure
 */
div.structure img.node {
	margin-right:10px;
	position:relative;
	top:-2px;
}

div.structure div.folder {
	height:23px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

div.closed {
	display:none;
}

div.structure div.btn-group {
	margin-top:25px;
}

div.structure div.btn-group button {
	padding:6px 25px;
}

@media (max-width:991px) {
	div.structure {
		display:none;
	}
}

/* List
 */
h2 {
	font-size:30px;
	margin-top:-35px;
	margin-right:200px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

table.list tbody tr {
	cursor:pointer;
}

table.list tr td:first-child {
	background-repeat:no-repeat;
	background-position:15px 10px;
	padding-left:40px;
	color:#337ab7;
}

table.list tr.directory td:first-child {
    background-image:url(/librarian/images/directory.png);
}

table.list tr.file td:first-child {
	background-image:url(/librarian/images/file.png);
}

table.list td:first-child {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	max-width:0;
}

table.list th:nth-child(2) {
	width:230px;
}

table.list th:nth-child(3) {
	width:100px;
}

table.list td:nth-child(3) {
	text-align:right;
}

table.list th:nth-child(4) {
	width:20px;
}

@media (max-width:767px) {
	table.list th:nth-child(2),
	table.list td:nth-child(2) {
		display:none;
	}
}

@media (min-width:768px) {
	table.list th:nth-child(4),
	table.list td:nth-child(4) {
		display:none;
	}
}

/* Dropzone
 */
form.dropzone {
	margin-top:15px;
	margin-bottom:15px;
}

div.buttons {
	width:300px;
}

div.buttons input.btn {
	margin-right:15px;
}

/* Edit overlay
 */
textarea#editfile {
	width:100%;
	height:300px;
	resize:vertical;
}

/* Draggable
 */
a.ui-draggable-dragging {
	text-decoration:none;
	border:1px solid #808080;
	border-radius:3px;
	padding:2px 5px 2px 25px;
	background-color:#ffffff;
	background-repeat:no-repeat;
	background-position:4px 4px;
}
